#header {

    font-family: 'Arial', sans-serif;
    margin: 0;
    height: auto;
    padding: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;
}

#button_sn {
    float: right;
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background-color: #EFAD4C;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #d8942e;
}

