#mapa {
    position: absolute;
    top: 88px; /* Ajuste este valor conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

@media (max-width: 768px) {
    #mapa {
        top: 0px;
    }
  }

