#button_filter{
    float: left;
    padding: 10px;
    margin: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    background-color: #446A8E;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
}